<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{board.title}}</title>
</head>
<body>
<div>
    <h1>{{board.title}}</h1>
    <div><p>게시글 번호 : {{board.id}}</p></div>
    <div>
        <div>{{board.content}}</div>
        <div>댓글</div>
            <div>
                {{#board.replies}}
                    <p>{{id}}</p>
                    <p>{{writer.name}}</p>
                    <p>{{content}}</p>

                {{/board.replies}}
            </div>

    </div>

</div>
<div>
    <h1> 댓글 남기기 </h1>
    <div>
        <form action ="/reply" method="post">
            <input type="hidden" name="writerId">{{member.id}}
            <input type="text" name="content">
            <input type="hidden" name="boardId">{{board.id}}
            <button type="submit">제출</button>
        </form>

    </div>
</div>
</body>
</html>