<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sse test</title>
</head>
<body>
<div>
    <h1>login</h1>
    <div id="test"></div>
</div>
<script src="/js/test.js">
</script>

</body>
</html>
